body {
    font-family: Arial, sans-serif;
}

#search-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.column {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
}
